  $green100 : #DAF4E6;
  $green200 : #B5EACC;
  $green300 : #90DFB3;
  $green400 : #6CD599;
  $green500 : #48CB80;
  $green600 : #39A266;
  $green700 : #2B794D;
  $green800 : #1C5133;
  $green900 : #0E281A;
  
  $blue100 : #DCECFA;
  $blue200 : #B9D9F4;
  $blue300 : #97C5EF;
  $blue400 : #75B2E9;
  $blue500 : #519FE5;
  $blue600 : #417FB6;
  $blue700 : #315F89;
  $blue800 : #20405B;
  $blue900 : #10202E;
  
  $red100 : #FCDFE6;
  $red200 : #F8BECC;
  $red300 : #F59EB3;
  $red400 : #F17E99;
  $red500 : #EF5E80;
  $red600 : #BE4B66;
  $red700 : #8F384D;
  $red800 : #5F2633;
  $red900 : #30131A;
  
  $orange100 : #FCE8DA;
  $orange200 : #FBD1B4;
  $orange300 : #F7B98F;
  $orange400 : #F6A26A;
  $orange500 : #F48C45;
  $orange600 : #C36F37;
  $orange700 : #925329;
  $orange800 : #62381C;
  $orange900 : #311C0E;
  
  $grey100 : #F7F7F7;
  $grey200 : #D8D8D8;
  $grey300 : #B9B9B9;
  $grey400 : #9A9A9A;
  $grey500 : #7C7C7C;
  $grey600 : #5D5D5D;
  $grey700 : #3E3E3E;
  $grey800 : #242424;
  $grey900 : #151515;
  
  $gold100 : #F7EADD;
  $gold200 : #F1D9C7;
  $gold300 : #E9C2A9;
  $gold400 : #DDA685;
  $gold500 : #D18A60;
  $gold600 : #A36C4B;
  $gold700 : #754D35;
  $gold800 : #503524;
  $gold900 : #2C1D15;
  
  $black1 : #040404;
  $black2 : #131313;
  $black3 : #202020;
  
  $white1 : #FFFFFF;
  $white2 : #FBFBFB;
  $white3 : #F6F6F6;
  
  $grey1 : #E5E4E4;
  $grey2 : #DDDDDD;
  $grey3 : #BFBFBF;
  $grey4 : #A2A1A1;
  $grey5 : #868686;
  $grey6 : #6A6A6A;
  $grey7 : #505050;
  $grey8 : #3F3F3F;
  $grey9 : #2E2E2E;
  
  $red1 : #FFD5D6;
  $red2 : #FF9292;
  $red3 : #F04B52;
  $red4 : #D0041F;
  $red5 : #700B04;